.DS_Store
__pycache__/
.vscode/
saved_info/
dataset/
visual/
*.mp4
glove/
kit/
t2m/
pretrained/
wandb/
texts/
outputs/
body_models/
improved_diffusion.egg-info/
generated_samples/
*.zip
*.pth
*.ckpt
__MACOSX/
logs/
*lmdb
stabilityai/
*generated*
celeba_test/
*.tar
*.png
*.jpg
*.log
*.txt
data/
slurm_scripts/